img {
    border-radius: 50%;
    height: 200px;
  }

.center{
background-color: #282c34;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.logopic{
    width: 60px;
    height: 60px;
    border: 3px solid #f1f1f1;
}
.text{
    color: white;
}
.pic{
    padding: 20px;
    text-align: center;
}
.fixflag{
    width: 10%;
    height: auto;
}
.yellow{
    background-color: #F4BB36;
    min-height: 100vh;

}
.hyellow{
    padding: 20px;
    text-align: center;
    color: #fff;

}
