img {
    border-radius: 50%;
    height: 200px;
  }

.center{
background-color: #282c34;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.logopic{
    width: 60px;
    height: 60px;
    border: 3px solid #f1f1f1;
}
.text{
    color: white;
}
.pic{
    padding: 20px;
    text-align: center;

}
.fixflag{
    width: 10%;
    height: auto;
}
.yellow{
    background-color: #F4BB36;
    min-height: 100vh;

}
.hyellow{
    padding: 20px;
    text-align: center;
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;

}

.box{
    padding: 20px;
    text-align: center;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 2s;

}
.box:hover{
    transform: rotate(360deg);
}

.bgContainer1{
    
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #ec7310);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    text-align:left;

}
.bgContainer2{
    background-color: red
}
.bgContainer3{
    background-color: blue
}
