.textColor{
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #ec7310);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;

    }

.SpaceContent{
    justify-content:space-around;
    margin-top: 10px; 
}
.cardSpace{
    margin: 210px;
}

.heading-secondary {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(
90deg
,#0ccaec,#0307d8);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;

}