.App {
  text-align: center;
}
#root{
  background-color: #282c34 ;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 100vh;

  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34 ;
}

.firstBG{
  background-image: url(./pic/BGIMG/0_kBHpKva09AsGj7RQ.jpg);
  min-height:100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


  filter: blur(8px);
  -webkit-filter: blur(8px);

}
.textG{
  background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #ec7310);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;

}
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.img-Border{
  border: 3px solid #f1f1f1;
}

.App-link {
  color: #61dafb;
}

.text{
  color: #fff;
  align-items: center;
}
.firstContainer{
  min-height:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pic{
  padding: 30px;
  text-align: center;
}

div{
  font-size: 1rem;
  text-align: center;


   font-family: 'Niconne', cursive;
  text-shadow: 5px 5px 0px #eb452b, 
              10px 10px 0px #efa032, 
              15px 15px 0px #46b59b, 
              20px 20px 0px #017e7f, 

}

p{
text-align: center;
font-family: "Helvetica";
}

a{
text-decoration: none;
font-family: 'Niconne', cursive;

}

